@font-face {
    font-family: massiveretalition;
    src: url(../Fonts/massiveretaliation.ttf);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

html, body{
    background-color: rgb(32, 32, 32);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#welcome{
    background-color: white;
    color: black;
    position: absolute;
    z-index: 1;
    float: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: disappeare 1s ease forwards 1s;
}

#welcome h1{
    text-align: center;
    width: 100%;
}

#containerofcontainer{
    animation: appearepage 2s ease forwards;
}

#container{
    width: 100%;
    animation: container 1s ease forwards 0s
}

#containersec{
    animation: containersec 1s ease forwards 0.2s;
}

#pres{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pres h1{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
#pres p{
    color: white;
    text-align: center;
}

#presimg{
    width: 100%;
    height: 100%;
    position: relative;
}

#presimg img{
    z-index: -99;
    width: 100%;
    height: 100%;

}

#btnpage{
    padding: 0;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 50%;
    bottom: 0;
    position: absolute;
    box-shadow: black 0px -30px 30px;
    animation: btnpageout 0.5s ease forwards;
}

#btnpagesec{
    padding: 0;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 50%;
    bottom: 0;
    position: absolute;
    box-shadow: black 0px -30px 30px;
    animation: btnpageoutsec 0.5s ease forwards;
}


#btnpage:hover{
    animation: btnpagein 0.5s ease forwards;
}

#btnpagesec:hover{
    animation: btnpageinsec 0.5s ease forwards;
}

#btnpage img{
    height: 60px;
    width: auto;
    z-index: 1;
}

#titlesec{
    color: white;
    z-index: 1;
}

.prestra{
    animation: prestra 0.2s ease forwards;
}

.presnone{
    display: none;
}

.btnclicked{
    animation: btnclicked 1s ease forwards;
}

.btnclickedtwo{
    animation: btnclickedtwo 0.5s ease forwards;
}

.titlesec{
    display: none;
}

.titlesecdisplay{
    display: block;
    animation: appeare 1s ease forwards;
}
.titlesecnodisplay{
    display: none;
    animation: disappeare 1s ease forwards;
}

#secpage{
    margin-top: 100px;
    top: 100%;
    width: 100%;
    height: 100%;
    color: white;
}

#tablecont{
    display: flex;
    justify-content: space-around;
}

#tablecont div{
    background-color: rgb(70, 70, 70);
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 300px;
    height: 300px;
    animation: hoverrepoback 1s ease forwards;
}

#tablecont div:hover{
    animation: hoverrepo 1s ease forwards;
}

#tablecont div h2{
    position: absolute;
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

#tablecont div img{
    width: 95%;
    height: 95%;
}

@keyframes btnpagein {
    0%{height: 100px;
       opacity: 50%;}
    100%{height: 150px;
         opacity: 80%;}
}
@keyframes btnpageout {
    100%{height: 100px;
       opacity: 50%;}
    0%{height: 150px;
         opacity: 80%;}
}
@keyframes containersec {
    0%{height: 100%;}
    100%{height: 100px;}
}

@keyframes container {
    0%{height: 100px;}
    100%{height: 100%;}
}

@keyframes btnpageinsec {
    0%{height: 100px;
       opacity: 50%;}
    100%{height: 100px;
         opacity: 80%;}
}
@keyframes btnpageoutsec {
    100%{height: 100px;
       opacity: 50%;}
    0%{height: 100px;
         opacity: 80%;}
}
@keyframes prestra {
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
@keyframes appeare {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes appearepage {
    0%{opacity: 0%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes disappeare {
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
@keyframes btnclicked {
    0%{transform: scale(0, 0);;}
    50%{transform: scale(-1, -1);;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
    100%{transform: scale(-1, -1);;}
    
}
@keyframes btnclickedtwo {
    0%{opacity: 0%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}
    100%{transform: scale(1, 1);;}
    
}

@keyframes hoverrepo{
    0%{width: 300px;
        height: 300px;}
        100%{transform: scale(1.1)}
}
@keyframes hoverrepoback{
    0%{transform: scale(1.1);}
        100%{width: 300px;
            height: 300px;}
}
/*loading bar*/
.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }
  
  .progress-value {
    animation: load 1s normal forwards;
    box-shadow: 0 10px 40px -10px rgb(0, 4, 255);
    border-radius: 100px;
    background: rgb(0, 4, 255);;
    height: 30px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
/*loadingbar*/ 